#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define MOUSE 4
#define SCROLL 5
#define NUM 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos { compatible = "zmk,combos"; };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp LS(LEFT_ARROW)  &mt LC(Y) LC(Z)  &kp LS(RIGHT_ARROW)  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&kp LEFT_ARROW      &kp SPACE        &kp RIGHT_ARROW      &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&kp LC(MINUS)       &kp LC(I)        &kp LC(LS(MINUS))    &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&kp LEFT_ALT        &trans           &trans               &mo 1   &trans  &trans    &trans  &trans                          &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        layer_1 {
            bindings = <
&trans        &kp LS(BACKSPACE)  &trans              &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&kp NUMBER_4  &kp NUMBER_1       &kp NUMBER_2        &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&kp LC(C)     &kp BACKSPACE      &mt NUMBER_3 LC(V)  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans        &trans             &trans              &mo 1   &trans  &trans    &trans  &trans                          &trans
            >;

            sensor-bindings = <&inc_dec_kp C_BRI_UP C_BRI_DN>;
        };
    };
};
